name: Run Arxiv Sanity Bot

on:
  schedule:
    - cron: "15 1,13 * * *"
  workflow_dispatch:
    inputs:
      window_start:
        description: "Start of the window in hours. Ex. 48 means that the window starts 48 hours ago"
        default: "96"
        type: "string"
      window_stop:
        description: "Stop of the window in hours. Ex. 24 means that the window stops 24 hours ago"
        default: "0"
        type: "string"

jobs:
  run_arxiv_sanity_bot:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true

    - name: Install dependencies
      run: |
        uv sync

    - name: Run Arxiv Sanity Bot
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
        TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
        TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
        TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
        FIREBASE_CREDENTIALS: ${{ secrets.FIREBASE_CREDENTIALS }}
      run: |
        if [ ${{ inputs.window_start }} != "" ]; then
            uv run arxiv-sanity-bot --window_start ${{ inputs.window_start }} --window_stop ${{ inputs.window_stop }}
        else

            if [ $(date +%a) == "Mon" ]; then
              echo "Setting window_start to 96 because it is Monday"
              export WINDOW_START=96
            else
              echo "Setting window_start to 72"
              export WINDOW_START=72
            fi

            uv run arxiv-sanity-bot --window_start $WINDOW_START --window_stop -24

        fi
       
